.custom-slider-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.custom-slider {
  display: flex;
  width: calc(200% + 10px); /* Double the width to accommodate two sets of images plus padding */
  animation: custom-slide 10s linear infinite; /* Adjust the duration as needed */
  padding-left: 10px; /* Add padding to prevent cut-off */
}

.custom-slide {
  flex: 0 0 auto;
  width: 5%; /* Adjust width based on the number of images */
}

@keyframes custom-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35%); /* Slide through the first set of images */
  }
}

/* Media query for screens 768px or less */
@media (max-width: 768px) {
  .custom-slide {
    width: 20%; /* Adjust width for smaller screens */
  }

  .custom-slider {
    animation: custom-slide-small 15s linear infinite; /* Adjust the duration as needed */
    padding-left: 10px; /* Add padding to prevent cut-off */
  }

  @keyframes custom-slide-small {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%); /* Slide through the first set of images */
    }
  }
}
