:root {
  --primary-color: #2c3e50;
  --secondary-color: #8e44ad;
  --accent-color: #e67e22;
  --text-color: #ecf0f1;
  --border-color: #95a5a6;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
}

.bg {
  background-image: url('./assets/bg.avif');
  background-position: center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  align-items: flex-start;
  background-repeat: repeat-y;
  flex-direction: column;
}

.centered-block {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
}

.navBar {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  width: 100vw; 
  position: sticky; 
  top: 0; 
  transition: background-color 0.5s ease;
}

.navItem {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  width: 150px;
  margin: 10px;
}

.navItem:hover {
  color: var(--accent-color);
}

.logo {
  width: 100px;
  height: 100px;
  align-items: center;
  flex-direction: column;
}

.ulNav {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myLink {
  color: var(--text-color);
}

.myLink:hover{
  color: var(--accent-color)
}

.skillsGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-logo {
  margin: 30px;
  transition: transform 0.3s ease-in-out;
}

.tech-logo:hover {
  transform: scale(1.2);
}

.contact-logo {
  margin: 15px;
  display: inline-flex;
  transition: transform 0.5s ease-in-out;
}

.contact-logo:hover {
  transform: scale(1.4);
}

.blurb {
  color: var(--text-color);
  gap: inherit;
  display: inline-block;
  width: 65%;
  clear: both;

}
.blurbUL {
  color: var(--text-color);
  gap: inherit;
  display: inline-block;
  width: 50%;
  clear: both;

}

.emailBox {
  background-color: #34495e;
  color: var(--text-color);
  padding: 20px;
  margin: 10px;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  width: 20%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.email, .msg {
  display: space-around;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--text-color);
  color: var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.btn {
  display: space-around;
  background-color: #9b59b6;
  width: 70%;
  font-family: 'Nunito Sans', sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover{
  background-color: var(--secondary-color)
}