/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --primary-color: #0A1128; /* Midnight Blue */
    --secondary-color: #3B82F6; /* Bright Blue */
    --accent-color: #F59E0B; /* Amber */
    --background-color: #FFFFFF; /* White */
    --text-color: #000000; /* Black */
}

/* Customize the previous arrow */

.fp-controlArrow.fp-prev {
  left: 1%;
  top: 95%;
  width: auto; 
  height: auto;
  z-index: 1001;
  cursor: pointer;
}

/* Customize the next arrow */
.fp-controlArrow.fp-next {
  right: 1%;
  top: 95%;
  width: auto; 
  height: auto;
  z-index: 1001;
  cursor: pointer;
}


.fp-watermark {
  display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ffffff; /* Change this to your desired color */
}

/* Change the color of the active navigation bullet */
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #ffffff; /* Change this to your desired color for the active bullet */
}


/* Base Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* Base font size */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}

/* FullPage.js CSS */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .section {
    text-align: center;
    font-size: 3em;
    color: #fff;
  }
  
  /* Example Color Palette
  Primary Color: #6919ff (Purple)
  Complementary Color: #ffb319 (Yellow/Gold)
  Analogous Colors: #4b19ff (Dark Purple), #19b3ff (Cyan)
  Triadic Colors: #19ff69 (Green), #ff1969 (Pink)
  Tetradic Colors: #ff1969 (Pink), #19ff69 (Green), #ffb319 (Yellow/Gold) */

  .section:first-child {
    background-color: #6919ff;
  }
  .section:nth-child(2) {
    background-color: #0A1128;
  }
  .section:nth-child(3) {
    background-color: #ffaa00;
  }
  .section:nth-child(4) {
    background-color: #17c737;
  }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 1rem 0;
}

/* Buttons */
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Blockquote */
blockquote {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  margin: 1.5rem 0;
  padding: 1rem;
  border-left: 0.25rem solid #ccc;
  background-color: #f9f9f9;
}

.slideParagraph {
  font-size: 1.5rem;
  width: 50%;
  display: flex;
  text-align: center;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }
}