:root {
    --primary-color: #0A1128; /* Midnight Blue */
    --secondary-color: #3B82F6; /* Bright Blue */
    --accent-color: #F59E0B; /* Amber */
    --background-color: #FFFFFF; /* White */
    --text-color: #0A1128; /* Midnight Blue */
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin: 0;
    overflow: hidden;
}

.wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.wrapper {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
} 

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.App {
    display: flex;
    justify-content: center;
    align-items: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    scroll-snap-align: start; /* Snap to start */
}

.chunk {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Desktop layout */
.chunk.north {
    top: 14%;
    left: 20%;
    width: 30%;
    height: 15%;
    transform: rotate(-10deg);
}

.chunk.south {
    top: 65%;
    left: 53%;
    height: 15%;
    width: 16%;
    transform: rotate(15deg);
}

.chunk.east {
    top: 14%;
    left: 53%;
    width: 16%;
    height: 45%;
    transform: rotate(-5deg);
}

.chunk.west {
    top: 35%;
    left: 20%;
    height: 45%;
    width: 30%;
    transform: rotate(5deg);
}

/* Mobile layout */
@media (max-width: 768px) {
    .chunk {
        font-size: 1rem;
        padding: 10px;
    }

    .chunk.north {
        top: 5%;
        left: 5%;
        width: 85%;
        height: 15%;
        transform: rotate(0deg);
    }

    .chunk.south {
        top: 50%;
        left: 50%;
        height: 40%;
        width: 40%;
        transform: rotate(0deg);
    }

    .chunk.east {
        top: 25%;
        left: 50%;
        width: 40%;
        height: 20%;
        transform: rotate(0deg);
    }

    .chunk.west {
        top: 25%;
        left: 5%;
        height: 65%;
        width: 35%;
        transform: rotate(0deg);
    }
}
